{% extends 'base.html' %}

{% block header %}Car Detail{% endblock %}

{% block content %}
    <h2>Car Details</h2>
    <ul>
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                {% if car.image %}
                    <img src="{{ car.image.url }}" class="card-img-top" style="max-width: 100%; height: 300px;"/>
                {% endif %}
            </div>
        </div>
        <li><strong>Description:</strong> {{ car.description | safe}} </li>
        <hr/>
        <li><strong>Brand:</strong> {{ car.car_model.brand }}</li>
        <li><strong>Model:</strong> {{ car.car_model.model }}</li>
        <li><strong>Year:</strong> {{ car.car_model.year }}</li>
        <li><strong>License Plate:</strong> {{ car.license_plate }}</li>
        <li><strong>VIN:</strong> {{ car.vin }}</li>
        <li><strong>Client:</strong> {{ car.client }}</li>
    </ul>
    {% if car.order_set.exists %}
        <h2>Orders</h2>
        <ul>
            {% for order in car.order_set.all %}
                <li>
                    <a href="{% url 'order_detail' order_id=order.id %}">View orders</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No orders for this car.</p>
    {% endif %}
    <p><a href="{% url 'cars' %}">Back to Cars</a></p>
{% endblock %}