{% extends 'base.html' %}

{% block header %}Orders{% endblock %}

{% block content %}

<h2>List of Orders</h2>
<ul>
    {% for order in page_obj %}
        <li>
            <a href="{% url 'order_detail' order.id %}">
                {{ order.car.client }} - {{ order.car.car_model.brand }}
                {{ order.car.car_model.model }} {{ order.car.license_plate }}<br>
            </a>
        </li>
        <br>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}